<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiming.blog.dao.mapper.ArticleMapper">
    <select id="listArchives" resultType="com.yiming.blog.dao.dos.Archives">
        select year(FROM_UNIXTIME(create_date/1000.0)) as year,
            month(FROM_UNIXTIME(create_date/1000.0)) as month,
            count(1) as count from ms_article group by year,month order by year desc,month desc ;
    </select>
</mapper>